* { Box-sizing: Border-box }
body {
    width:100%; font-family: Century Gothic;
    background-color:#fff; padding:0px; margin:0px;
}
header{width:100%; color:#000; padding:1px; text-align:center; background-color:#1da1f2}
header>h1{color:#fff; font-size:3em; font-weight:400;}
.nav{width:100%; border-bottom:1px solid #98dad5; height:40px;}

.nav>ul>li{float:left; list-style:outside none none;}
.nav>ul{padding:1px;}

.nav>ul>li>a{font-size: 18px;
text-decoration: none; padding: 11px 14px}

.nav>ul>li>a:hover,a:focus{border-bottom: 5px solid #4C9ED9;}
